body {
    background-color: #17394A;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    flex-shrink: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-top: 60px; /* Asegurarse de que el contenido esté por debajo de la navbar */
}

.container {
    background-color: #274C6D;
    border-radius: 15px;
    padding: 20px;
    max-width: 800px;
    text-align: center;
}

h1 {
    color: #F2D492;
    margin-bottom: 20px;
}

.sucursal {
    margin-bottom: 20px;
}
